html {
    height: 100%;
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-color: rgba(0,0,0,1); /* Black w/ opacity */
	background-image: linear-gradient(#444444 45%, #22222 55%);
  	background: -webkit-gradient(linear, left top, right bottom, from(#444), to(#222)) fixed;
  	color: rgb(255,255,255);
	font-size: large;
	text-align: center;
	vertical-align: center;
}

a:link {
	color:rgb(120, 255, 0);
}

a:visited {
	color:rgb(180, 255, 50);
}

table {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

td {
	padding: 5px;
	font-size: large;
}

textarea, input[type=text] {
	font-size: large;
	padding: 5px;
	color: #af3;
	background-color: #000;
	border-radius: 5px;
}

select {
	color: #888;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: large;
	text-align: center;
	padding: 0 30px;
	margin: 10px;
	line-height: 50px;
	border-radius: 20px;
	background-color: #222;
	background-image: linear-gradient(#444444 45%, #22222 55%);
	box-shadow: 0 2px 2px #888888;
	transition: color 0.3s, background-image 0.5s, ease-in-out;
}

input[type=submit], .button {
	color: #888;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: large;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0 30px;
	margin: 10px;
	line-height: 50px;
	border-radius: 20px;
	background-color: #222;
	background-image: linear-gradient(#444444 45%, #22222 55%);
	box-shadow: 0 2px 2px #888888;
	transition: color 0.3s, background-image 0.5s, ease-in-out;
}

input[type=submit]:hover, .button:hover {
	color: white;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: large;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0 30px;
	margin: 10px;
	line-height: 50px;
	border-radius: 20px;
	background-image: linear-gradient(#335b71 45%, #03324c 55%);
	box-shadow: 0 2px 2px #888888;
	transition: color 0.3s, background-image 0.5s, ease-in-out;
}

